/* ----------- 💫 https://github.com/JaKooLit 💫 -------- */
/* pywal - Simple */

* {
  font-family: "JetBrainsMono Nerd Font";
  font-weight: bold;
  min-height: 0;
  font-size: 100%;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
}

@import '../../.cache/wal/colors-waybar.css';

window#waybar {
  background: transparent;
}

#waybar.empty, #waybar.tiled, #waybar.floating {
  background-color: transparent;
}

/* tooltip { */
/*   color: @color2; */
/*   background: @color0; */
/*   opacity: 0.8; */
/*   border-radius: 10px; */
/*   border-width: 1px; */
/*   border-style: solid; */
/*   border-color: @color15; */
/* } */

/*-----module groups----*/
.modules-left,
.modules-center,
.modules-right {
  background-color: rgba(20,20,20,0.8);
  border-radius: 10px;
  border: 0.5px solid @color12;
}

/*-----modules indv----*/

#workspaces button {
  box-shadow: none;
  text-shadow: none;
  padding: 0px;
  border-radius: 9px;
  padding-left: 2px;
  padding-right: 2px;
  color: @color12;
}

#workspaces button.active {
  /* padding-left: 8px; */
  /* padding-right: 8px; */
  color: @background;
  background-color: @color12;
}

#workspaces button.focused {
  color: @color12;
}

#backlight,
#backlight-slider,
#battery,
#bluetooth,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state,
#memory,
#mode,
#mpris,
#network,
#pulseaudio,
#pulseaudio-slider,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-vpn,
#custom-backlight,
#custom-cava_mviz,
#custom-cycle_wall,
#custom-keybinds,
#custom-keyboard,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-swaync,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default,
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 4px;
  padding-left: 4px;
  color: @color12;
}
