@import "/home/bjtn/.cache/wal/colors-waybar.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 100%;
  border: none;
  box-shadow: none;
  text-shadow: none;
  font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
  padding: 1px;
}

#workspaces,
#workspaces button.active,
#network,
#cpu,
#memory,
#disk,
#temperature,
#tray,
#clock,
#battery,
#pulseaudio,
#backlight,
tooltip {
  padding: 0px 3px;
  border-radius: 6px;
  font-weight: bold;
  color: @color11;
  background-color: rgba(20,20,20,0.9);
}

window#waybar {
  background-color: transparent;
}
