/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #000000 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c6c3c2; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c6c3c2; background-color: rgba(199,169,159,0.4)}
.cm-s-nqqwal { background-color: #000000; color: #c6c3c2; }
.cm-s-nqqwal span.cm-builtin { color: #AB7251; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #70615b; }
.cm-s-nqqwal span.cm-keyword { color: #DB9B58; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #EBB65B; }
.cm-s-nqqwal span.cm-def { color: #987F80; }
.cm-s-nqqwal span.cm-variable { color: #C7A99F; }
.cm-s-nqqwal span.cm-variable-2 { color: #987F80; }
.cm-s-nqqwal span.cm-string { color: #AB7251; }
.cm-s-nqqwal span.cm-string-2 { color: #AB7251; }
.cm-s-nqqwal span.cm-number { color: #987F80; }
.cm-s-nqqwal span.cm-tag { color: #DB9B58; }
.cm-s-nqqwal span.cm-property { color: #C7A99F; }
.cm-s-nqqwal span.cm-attribute { color: #C7A99F; }
.cm-s-nqqwal span.cm-qualifier { color: #EBB65B; }
.cm-s-nqqwal span.cm-meta { color: #987F80; }
.cm-s-nqqwal span.cm-header { color: #DB9B58; }
.cm-s-nqqwal span.cm-operator { color: #DB9B58; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(152,127,128,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #DB9B58; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #000000); }
