/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #000000 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c7c2c7; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c7c2c7; background-color: rgba(111,146,178,0.4)}
.cm-s-nqqwal { background-color: #000000; color: #c7c2c7; }
.cm-s-nqqwal span.cm-builtin { color: #36548D; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #715d71; }
.cm-s-nqqwal span.cm-keyword { color: #636C90; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #9A7887; }
.cm-s-nqqwal span.cm-def { color: #C17F82; }
.cm-s-nqqwal span.cm-variable { color: #6F92B2; }
.cm-s-nqqwal span.cm-variable-2 { color: #C17F82; }
.cm-s-nqqwal span.cm-string { color: #36548D; }
.cm-s-nqqwal span.cm-string-2 { color: #36548D; }
.cm-s-nqqwal span.cm-number { color: #C17F82; }
.cm-s-nqqwal span.cm-tag { color: #636C90; }
.cm-s-nqqwal span.cm-property { color: #6F92B2; }
.cm-s-nqqwal span.cm-attribute { color: #6F92B2; }
.cm-s-nqqwal span.cm-qualifier { color: #9A7887; }
.cm-s-nqqwal span.cm-meta { color: #C17F82; }
.cm-s-nqqwal span.cm-header { color: #636C90; }
.cm-s-nqqwal span.cm-operator { color: #636C90; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(193,127,130,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #636C90; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #000000); }
