#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#000000",
    floating_border_color: "#D3B4CA",
    focused_border_color: "#c8c9d2",
    background_color: "#000000",
)